# A01 - PYTHON

### Erik Gabriel Vega Cervantes   
17 de agosto de 2023

Actividad de el 17 de agosto de 2023

1. Genera una lista de 100 elementos con múltiplos de 3. E.g. [3, 6, 9, ...]

In [7]:
numeros = [num * 3 for num in range(1, 101)]
print(numeros)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

Comprobación de los 100 números multiplos de 3:

In [8]:
len(numeros)

100

2. Toma el archivo "datosPE.xlsx" y calcula el índice de masa corporal de cada persona:

In [9]:
import pandas as pd 
data = pd.read_excel("datosPE.xlsx")
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

Calculamos índice de masa corporal de cada persona:

In [13]:
data["IMC"] = ((data["Peso"])/(data["Estatura"]*data["Estatura"]))
data

    ID Persona  Peso  Estatura        IMC
0            1    67      1.41  33.700518
1            2    99      1.83  29.561946
2            3    86      1.90  23.822715
3            4   118      1.65  43.342516
4            5   109      1.67  39.083510
..         ...   ...       ...        ...
95          96    88      1.49  39.637854
96          97    98      1.54  41.322314
97          98    95      1.57  38.541117
98          99    61      1.61  23.533043
99         100   107      1.62  40.771224

[100 rows x 4 columns]